.nameUser {
    background-color: rgb(65, 55, 55);
    border: none;
    color: white;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    border: 1px solid white;
    padding: 10px;
    margin: 0;
}