.fieldsUser {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    padding: 0;
}
.fieldsUser li {
    background-color: rgb(65, 55, 55);
    color: white;
    height: 70px;
    width: 300px;
    border: 1px solid white;
    list-style-type: none;
}