.historyBox {
    width: 300px;
    flex-grow: 1;
    background-color: rgb(65, 55, 55);
    border: none;
    color: white;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    border: 1px solid white;
}
.historyBox p {
    margin: 10px;
} 
